* {
    margin: 0;
    border: 0;
    outline: none;
}

/* https://stackoverflow.com/a/59020698 */
body {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#root {
    width: 100%;
    height: 100%;
}

#logger {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    max-width: 100%;
    height: 100%;
    z-index: 100;
    pointer-events: none;
    font-size: 10;
    white-space: pre-wrap;
    /* word-wrap: break-word; */
    /* line-break: auto; */
    color: red;
}
