* {
    margin: 0;
    border: 0;
    outline: none;
}

#root {
    width: 100vw;
    height: 100vh;
}

#logger {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    max-width: 100vw;
    height: 100vh;
    z-index: 100;
    pointer-events: none;
    font-size: 10;
    white-space: pre-wrap;
    /* word-wrap: break-word; */
    /* line-break: auto; */
    color: red;
}
